# Ignore everything inside the Annotations directory
/SCAND/Annotations/*
/SCAND/rosbags/*
#Tracking directory
!/SCAND/Annotations/.gitkeep
!/SCAND/rosbags/.gitkeep

# python
__pycache__
*.pyc
*.egg-info
dist
.idea/
